## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,6,Pokhara,NP,71.74,overcast clouds,28.2333,83.9833,Butterfly Lodge
1,13,Rikitea,PF,75.38,overcast clouds,-23.1203,-134.9692,People ThankYou
2,22,Buta,CD,69.62,light rain,2.7858,24.7300,HOTEL BISO NA BISO
3,26,Shahrud,IR,71.24,clear sky,36.4182,54.9763,Royal Hotel
4,27,Biak,ID,77.04,overcast clouds,-0.9131,122.8766,Penginapan Kim
5,29,Airai,TL,73.00,broken clouds,-8.9266,125.4092,Juvinal Martin
6,37,Yellowknife,CA,70.32,scattered clouds,62.4560,-114.3525,The Explorer Hotel
7,40,Ponta Do Sol,PT,70.43,overcast clouds,32.6667,-17.1000,Hotel do Campo
8,41,Acarau,BR,78.10,clear sky,-2.8856,-40.1200,castelo pizzaria
9,42,Itoman,JP,79.57,moderate rain,26.1247,127.6694,Southern Beach Hotel & Resort Okinawa

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df.City =='Ryotsu')]
vacation_end = vacation_df.loc[(vacation_df.City =='Ryotsu')]
vacation_stop1 = vacation_df.loc[(vacation_df.City =='Katsuura')]
vacation_stop2 = vacation_df.loc[(vacation_df.City =='Hasaki')] 
vacation_stop3 = vacation_df.loc[(vacation_df.City =='Towada')] 

# print to see if loc is correct
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
107,407,Ryotsu,JP,69.76,overcast clouds,38.0833,138.4333,Sadokamoko Onsen Kohanno Yado Yoshidaya

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

# print start to check
start

array([38.0833, 138.4333], dtype=object)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(37.76, 140.47), zoom_level = 5)
ryotsu = start
katsuura = stop1
hasaki = stop2
towada = stop3
japan_trip = gmaps.directions_layer(ryotsu ,ryotsu, 
                                    waypoints=[katsuura,hasaki,towada],
                                    travel_mode = 'DRIVING')
fig.add_layer(japan_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,407,Ryotsu,JP,69.76,overcast clouds,38.0833,138.4333,Sadokamoko Onsen Kohanno Yado Yoshidaya
1,634,Katsuura,JP,74.10,moderate rain,35.1333,140.3000,Katsuura Hotel Mikazuki
2,317,Hasaki,JP,79.29,overcast clouds,35.7333,140.8333,Hotel Sunrise Choshi
3,426,Towada,JP,76.68,broken clouds,40.6127,141.2067,Hotel Route-Inn Towada

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(37.76, 140.47), zoom_level = 5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))